@model PTPMQL.Models.QuanLiChuyenBay

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="~/Images/logo_vna.png" class="" style="width:20%" />

<div class="w3-container w3-center">
    <h2 class="w3-text-cyan w3-sans-serif">Xóa dữ liệu chuyến bay</h2>
    <h3 class="w3-opacity w3-text-orange w3-cursive">Hãng hàng không Vietnam AirLines</h3>
</div>


<h3 class="w3-text-deep-orange w3-serif">Bạn có chắc rằng muốn xóa dữ liệu này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaChuyenBay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaChuyenBay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoHanhKhach)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoHanhKhach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemKhoiHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemKhoiHanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemDen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiemDen)
        </dd>





        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianXuatPhat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThoiGianXuatPhat)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Có" class="btn btn-default" /> |
            @Html.ActionLink("Không", "Index")
        </div>
    }
</div>
