@model PTPMQL.Models.QuanLiChuyenBay

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QuanLiChuyenBay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiemKhoiHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemKhoiHanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemDen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemDen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianBay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianBay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChoNgoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChoNgoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaChuyenBay }) |
    @Html.ActionLink("Back to List", "Index")
</p>
