@model PTPMQL.Models.QuanLiChuyenBay

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <img src="~/Images/logo_vna.png" class="" style="width:20%" />

<div class="w3-container w3-center">
    <h2 class="w3-text-cyan w3-sans-serif">Thông tin chi tiết chuyến bay</h2>
    <h3 class="w3-opacity w3-text-orange w3-cursive">Hãng hàng không Vietnam AirLines</h3>
</div>


<div>
    
    <hr />
    <dl class="dl-horizontal">
        
            <dd class="w3-large">
                Mã chuyến bay: @Html.DisplayFor(model => model.MaChuyenBay)
            </dd>
            
            <dd class="w3-large">
                Số hành khách: @Html.DisplayFor(model => model.SoHanhKhach) người
            </dd>

            <dd class="w3-large">
                Điểm khởi hành: @Html.DisplayFor(model => model.DiemKhoiHanh)
            </dd>



            <dd class="w3-large">
                Điểm đến: @Html.DisplayFor(model => model.DiemDen)
            </dd>


            <dd class="w3-large">
                Thời gian xuất phát @Html.DisplayFor(model => model.ThoiGianXuatPhat)h
            </dd>



        </dl>

        

    
</div>
<p>
    @Html.ActionLink("Trở về", "Index")
</p>
