@model IEnumerable<PTPMQL.Models.QuanLiChuyenBay>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-animate-opacity w3-margin-top">
    <img src="~/Images/logo_vna.png" class="" style="width:20%" />
</div>
    
    <div class="w3-container w3-center">
        <h2 class="w3-text-cyan w3-cursive w3-xxxlarge">Hãng hàng không Vietnam AirLines</h2>
            <h3 class="w3-text-orange w3-sans-serif">SẢI CÁNH VƯƠN CAO</h3>
                <h4 class="w3-monospace w3-container">Quản lí chuyến bay</h4>
    </div>
    


    <div class="w3-btn w3-round w3-border w3-text-light-blue">
        @Html.ActionLink("Add informations", "Create")
    </div>

<table class="w3-table w3-bordered w3-light-gray w3-margin-top">
    <tbody>
        <tr class="w3-black">
            <th class="w3-center">Mã chuyến bay</th>
            <th class="w3-center">Số hành khách</th>
            <th class="w3-center">Điểm khởi hành</th>
            <th class="w3-center">Điểm đến</th>
            <th class="w3-center">Thời gian xuất phát</th>
            <th class="w3-center">Tùy chỉnh</th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <th class="w3-center">
            @Html.DisplayFor(modelItem => item.MaChuyenBay)
        </th>

        <td class="w3-center">
            @Html.DisplayFor(modelItem => item.SoHanhKhach) người
        </td>

        <td class="w3-center">
            @Html.DisplayFor(modelItem => item.DiemKhoiHanh)
        </td>
        <td class="w3-center">
            @Html.DisplayFor(modelItem => item.DiemDen)
        </td>

        <td class="w3-center">
            @Html.DisplayFor(modelItem => item.ThoiGianXuatPhat)h
        </td>
        <td class="w3-center">
            <div class="w3-btn w3-round-small w3-border">
                @Html.ActionLink("Edit", "Edit", new { id = item.MaChuyenBay })
            </div>
            <div class="w3-btn w3-round-small w3-border">
                @Html.ActionLink("Details", "Details", new { id = item.MaChuyenBay })
            </div>
            <div class="w3-btn w3-round-small w3-border">
                @Html.ActionLink("Delete", "Delete", new { id = item.MaChuyenBay })
            </div>
        </td>
    </tr>
        }
    </tbody>
</table>