@model PTPMQL.Models.QuanLiHangGui

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <img src="~/Images/logo_vna.png" class="" style="width:20%" />

    <div class="w3-container w3-center">
        <h2 class="w3-text-cyan w3-sans-serif">Xóa dữ liệu chuyến bay</h2>
        <h3 class="w3-opacity w3-text-orange w3-cursive">Hãng hàng không Vietnam AirLines</h3>
    </div>


<h3 class="w3-text-deep-orange w3-serif">Bạn có chắc rằng muốn xóa dữ liệu này?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaHangGui)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHangGui)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGioGuiHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGioGuiHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrongLuongHangGui)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrongLuongHangGui)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.XacNhanHopLe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.XacNhanHopLe)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Có" class="btn btn-default" /> |
            @Html.ActionLink("Không", "Index")
        </div>
    }
</div>
